{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block hero %}
    <!-- Strat Blog Post List -->
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Hello, {{ user.username|title }}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Update your info</p>
            </div>
        </div>
    </div>
{% endblock hero %}

{% block page_content %}
  <form class="form-horizontal text-light col-4" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
{% endblock page_content %}
