{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock title %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="container">
        {% include 'header.html' %}

        <hr class="text-light">

        {% block inner %}{% endblock inner %}

        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
            {% else %}
            <li class="page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
            {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
            {% else %}
            <li class="page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>


    <!-- End Container -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="{% static 'js/dialog.js' %}"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    <script>
      // Function to display Toastify notifications
      function showCToast(type, message) {
      /*
          type: info, success, error, default;
          message: message to be displayed.
          */
          const colorMap = {
              "info": '#63B3ED',
              "success": '#2dce89',
              "error": '#f5365c',
              "default": "#20c997"
          };

          const color = colorMap[type] || colorMap["default"];

          // Configure and display the toast notification
          Toastify({
              text: message,
              duration: 3000,
              className: type,
              close: true,
              gravity: "bottom",       // `top` or `bottom`
              position: "center",   // `left`, `center` or `right`
              stopOnFocus: true,    // Prevent dismissing of toast on hover
              style: {
                  background: color,
              },
              escapeMarkup: false,   // Render HTML tags in the notification
          }).showToast();
      }

      // Extract Django messages and display them using Toastify
      const customMessages = [
          {% for message in messages %}
              {
                  "tags": "{{ message.tags|default:'' }}",
                  "message": '{{ message.message|default:'' }}'
              }{% if not forloop.last %},{% endif %}
          {% endfor %}
      ];

      // Display each custom message using Toastify
      customMessages.forEach(message => {
          showCToast(message.tags, message.message);
      });
      </script>

</body>

</html>
