<script>
  // Function to display Toastify notifications
  function showCToast(type, message) {
  /*
      type: info, success, error, default;
      message: message to be displayed.
      */
      const colorMap = {
          "info": '#63B3ED',
          "success": '#2dce89',
          "error": '#f5365c',
          "default": "#20c997"
      };

      const color = colorMap[type] || colorMap["default"];

      // Configure and display the toast notification
      Toastify({
          text: message,
          duration: 3000,
          className: type,
          close: true,
          gravity: "top",       // `top` or `bottom`
          position: "center",   // `left`, `center` or `right`
          stopOnFocus: true,    // Prevent dismissing of toast on hover
          style: {
              background: color,
          },
          escapeMarkup: false,   // Render HTML tags in the notification
      }).showToast();
  }

  // Extract Django messages and display them using Toastify
  const customMessages = [
      {% for message in messages %}
          {
              "tags": "{{ message.tags|default:'' }}",
              "message": '{{ message.message|default:'' }}'
          }
      {% endfor %}
  ];

  // Display each custom message using Toastify
  customMessages.forEach(message => {
      showCToast(message.tags, message.message);
  });
  </script>
