{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block page_content %}
    <h2>Log In</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="col-5">
            <div class="row mb-4 mt-4">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="row mb-4">
                {{ form.password|as_crispy_field }}
            </div>
        </div>

        <button class="btn btn-success mt-4" type="submit">Log In</button>
    </form>
{% endblock page_content %}
