{% extends 'base.html' %}

{% block inner %}
    <div class="row">
        <div class="container d-md-flex">
            <div class="col-md-12 mx-4">
                <!-- Start Blog Post List -->
                <div class="text-secondary px-4 py-5 text-center">
                    <div class="py-5">
                      <h1 class="display-5 fw-bold">Hello, {{ user.username }}</h1>
                      <div class="col-lg-6 mx-auto">
                        <p class="fs-5 mb-4">In this page you can see a list of all your posts.</p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <a href="{% url 'blog:create-post' %}" role="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Add post</a>
                            <a href="{% url 'users:detail' request.user %}" role="button" class="btn btn-outline-info btn-lg px-4">Return to your Profile</a>
                            <a href="{% url 'blog:homepage' %}" role="button" class="btn btn-outline-dark btn-lg px-4">Return to Blog</a>
                        </div>
                      </div>
                    </div>
              </div>

                <hr class="text-light">
                       
                {% for post in posts %}
                    <div class="cardmb-3 border-primary" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title pb-3 m-1"><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h5>
                            <p class="card-subtitle text-muted"> By {{ post.author }},  In <time>{{ post.updated_at }}</time></p>
                            <hr class="text-light">
                            <p class="card-text pt-3 m-1">{{ post.content }}</p>
                            
                            
                            <button class="btn btn-primary mt-3">
                                <a href="{% url 'blog:post-detail' post.slug %}" class="card-link pt-2 text-light">Read more</a>
                            </button>
                        </div>
                    </div>
                    {% empty %}
                        <p class="card-text pt-3 m-1">You didn't add any posts yet.</p>
                {% endfor %}

                <!-- End Blog Post List -->
            </div>
        </div>
    </div>
{% endblock inner %}
