{% for post in posts %}
    <div class="card bg-dark border-primary mb-3" style="width: 100%;">
        <div class="card-body text-white">
            <h5 class="card-title pb-3 m-1"><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h5>
            <p class="card-subtitle text-muted"> By {{ post.author }},  In <time>{{ post.updated_at|date:'d-m-Y' }}</time></p>
            <hr class="text-light">
            <p class="card-text pt-3 m-1">{{ post.content|slice:':50' }}</p>
            
            
            <button class="btn btn-primary mt-3">
                <a href="{% url 'blog:post-detail' post.slug %}" class="card-link pt-2 text-white">Read more</a>
            </button>
        </div>
    </div>
    <hr class="text-light">
{% endfor %}