{% extends 'blog/base.html' %}

<!-- Start Hero -->
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold">Welcome to my blog</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, sequi!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
                <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
            </div>
        </div>
    </div>
</div>
<!-- End Hero -->

<hr class="text-light">

{% block page_content %}
    <div class="row">
        <div class="container d-md-flex">
            <div class="col-md-12 mx-4">
                <!-- Strat Blog Post List -->
                
                {% for post in posts %}
                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title mb-3"><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h5>
                            <p class="card-subtitle text-muted"> By {{ post.author }},  In <time>{{ post.updated_at|date:'d-m-Y' }}</time></p>
                            <hr class="text-light">
                            <p class="card-text mt-3 m-1">{{ post.content|slice:':50' }}</p>
                            
                            <a href="{% url 'blog:post-detail' post.slug %}" role="button" class="card-link btn btn-primary mt-3 pt-2">Read more</a>
                        </div>
                    </div>
                    <hr class="text-dark">
                    
                    {% empty %}
                    <p>No Avaialble posts at this moment</p>
                {% endfor %}

                <!-- End Blog Post List -->
            </div>
        </div>
    </div>
{% endblock page_content %}
