{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block page_content %}
<h2 class="text-white">Delete Post</h2>
    
<hr>

<form method="post" action="{% url 'blog:delete-post' post.slug %}">
    {% csrf_token %}
    <div class="col">
        <div class="row text-white">
            {{ form.title|crispy }}
        </div>
    </div>
    <p class="text-white">Are you sure you want to delete this post?</p>
    <hr>
    <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-info mx-2" type="submit">
            <a  class="text-white" href="{% url 'blog:homepage' %}">Go back</a>
        </button>
        <button class="btn btn-danger text-white" type="submit">Delete</button>
    </div>
    
</form>
{% endblock page_content %}

