{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block inner %}
    {% if user.is_authenticated %}
    <h2>Create Post</h2>

    <hr>

    <form method="post" action="{% url 'blog:create-post' %}">
        {% csrf_token %}
        <div class="col-6">
            <div class="row my-2">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="row my-2">
                {{ form.content|as_crispy_field }}
            </div>
            <div class="row my-2">
                {{ form.tag|as_crispy_field }}
            </div>
        </div>
        <div class="mx-auto">
            <button class="btn btn-success text-white" type="submit">Create</button>
        </div>
    </form>
    {% else %}
        <p>You are not logged in, Please click <a href="{% url 'login' %}" class="text-white">here</a> to login and add a todo!</p>
    {% endif %}
{% endblock inner %}