{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block inner %}
<h2>Delete Post</h2>
    
<hr>

<form method="post" action="{% url 'blog:delete-post' post.slug %}">
    {% csrf_token %}
    <div class="col">
        <div class="row">
            {{ form.title|crispy }}
        </div>
    </div>
    <p>Are you sure you want to delete this post?</p>
    <hr>
    <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-info mx-2" type="submit">
            <a href="{% url 'blog:homepage' %}">Go back</a>
        </button>
        <button class="btn btn-danger" type="submit">Delete</button>
    </div>
    
</form>
{% endblock inner %}

