{% extends 'base.html' %}
{% load blog_tags %}
{% load crispy_forms_tags %}

{% block title %}{{ post.title }}{% endblock title %}

{% block inner %}
    <div class="row">
        <div class="container d-md-flex">
            <div class="col-md-12">
                <!-- Strat Blog Post List -->
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <h5 class="flex-grow-1 card-title pb-3 m-1">{{ post.title }}</h5>
                            {% include 'blog/posts/partials/favorite_post.html' %}
                        </div>
                        <p class="card-subtitle text-muted"> By <span>{{ post.author }}</span>,  In <time>{{ post.updated_at|date:'d-m-Y' }}</time></p>
                        <hr class="text-light">
                        Tags: 
                        {% for tag in tags %}
                            <span class="badge rounded-pill bg-primary"><a href="{% url 'blog:tag-post-list' tag.slug %}" class="text-light">{{ tag.name }}</a></span>
                        {% endfor %}


                        <hr class="text-light">
                        <p class="card-text pt-3 m-1">{{ post.content }}</p>


                        {% if post.author == user %}
                            <div class="form-inline my-2 my-lg-0">
                                <button class="btn btn-info mx-2">
                                    <a href="{% url 'blog:update-post' post.slug %}" class="text-white">Update</a>
                                </button>

                                <button class="btn btn-danger mx-2 my-4">
                                    <a href="{% url 'blog:delete-post' post.slug %}" class="text-white">Delete</a>
                                </button>
                        </div>
                        {% endif %}
                        
                        
                        <div class="card-footer">
                            <button class="btn btn-success mt-3">
                                <a href="{% url 'blog:homepage' %}" class="card-link text-white pt-2">Return to blog</a>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End Blog Post List -->
            </div>
        </div>
    </div>

    <hr class="text-light">

    <section>
        <div class="container d-md-flex">
            <div class="col-md-12">
                <div class="col-md-4 px-4">
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary mx-2">
                            Comments <span class="badge text-bg-danger">{% num_comments post.slug %}</span>
                        </button>
                        
                        {% if user.is_authenticated %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commentModal">
                                Add Comment
                            </button>
                        
                            <!-- Modal -->
                            <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Comment</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'blog:create-comment' post.slug %}" method="POST">
                                                {% csrf_token %}
                                                <div class="row my-2">
                                                    {{ form.email|as_crispy_field }}
                                                </div>
                                                <div class="row my-2">
                                                    {{ form.comment|as_crispy_field }}
                                                </div>
												<div class="modal-footer">
													<button class="btn btn-success" type="submit">Submit</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <hr class="text-light">
                <div class="list-group">
                    {% for comment in comments %}
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Comment By: {{ comment.user|title }}</h5>
                                <small class="text-muted">{{ comment.published_at|date:'Y-m-d' }}</small>
                            </div>
                            <p class="mb-1">{{ comment.comment }}</p>
                        </a>
                        {% empty %}
                                <p class="lead text-light">This post has no comments yet.</p>
                    {% endfor %}
            </div>
        </div>
    </section>
{% endblock inner %}
