{% extends 'blog/base.html' %}
{% block title %}My Favorite Posts{% endblock title %}

{% block hero %}
    <div class="text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold">Hello, {{ user.username|title }}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 m-4">In this page you can see a list of your favorite posts.</p>
            </div>
        </div>
    </div>
{% endblock hero %}
    

{% block inner %}
    <div class="row">
        <div class="container d-md-flex">
            <div class="col-md-12 mx-4">
                <!-- Strat Blog Post List -->
                {% for post in posts %}
                    <div class="card mb-3 border-primary" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title pb-3 m-1"><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h5>
                            <p class="card-subtitle text-muted"> By {{ post.author }},  In <time>{{ post.updated_at }}</time></p>
                            <hr class="text-light">
                            <p class="card-text pt-3 m-1">{{ post.content }}</p>
                            
                            
                            <button class="btn btn-primary mt-3">
                                <a href="{% url 'blog:post-detail' post.slug %}" class="card-link pt-2 text-light">Read more</a>
                            </button>
                        </div>
                    </div>
                    {% empty %}
                        <p class="m-3">You did not add any favorite posts yet.</p>
                {% endfor %}

                <!-- End Blog Post List -->
            </div>
        </div>
    </div>
{% endblock inner %}