{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Update post</h2>

<hr />

<form method="post" action="{% url 'htmx_crud:htmx-update-post' post.id %}">
  {% csrf_token %}
  <div class="col">
    <div class="row my-2">{{ form.title|as_crispy_field }}</div>
    <div class="row my-2">{{ form.content|as_crispy_field }}</div>
    <div class="row my-2">{{ form.tag|as_crispy_field }}</div>
  </div>

  <div class="form-inline my-2 my-lg-0">
    <button class="btn btn-danger mx-2">
      <a class="text-white" href="{% url 'htmx_crud:htmx-post-detail' post.id %}">Cancel</a>
    </button>
    <button class="btn btn-info" type="submit">Update</button>
  </div>
</form>
{% endblock content %}
